In [43]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [44]:
df = pd.read_csv("usedcar.csv")

In [45]:
df.head()

,text,model,zip,price,mileage
0,Used 2009 BMW 3 Series 328i Sedan RWD for sale...,c21411,10005,"7,900","88,915"
1,Used 2009 BMW 3 Series 328i Sedan RWD for sale...,c21411,10003,"7,900","88,915"
2,Used 2009 BMW 3 Series 328i Sedan RWD for sale...,c21411,10003,"7,999","88,328"
3,Used 2009 BMW 3 Series 328i Sedan RWD for sale...,c21411,10002,"7,900","88,915"
4,Used 2009 BMW 3 Series 328i Sedan RWD for sale...,c21411,10002,"7,999","88,328"

In [46]:
df.isna().sum()

text       0
model      0
zip        0
price      0
mileage    0
dtype: int64

In [47]:
df.dtypes

text       object
model      object
zip         int64
price      object
mileage    object
dtype: object

In [48]:
df['price'] = df['price'].str.replace(',', '')
df['mileage'] = df['mileage'].str.replace(',', '')
df['model'] = df['model'].str.replace('c', '')

df['price'] = df['price'].astype(int)
df['mileage'] = df['mileage'].astype(int)
df['model'] = df['model'].astype(int)

df.dtypes

text       object
model       int32
zip         int64
price       int32
mileage     int32
dtype: object

In [49]:
x = df[['model','zip','mileage']]
y = df['price']

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

In [50]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 1)

In [51]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [52]:
knn.score(x_test, y_test)

0.8861056384276198

In [53]:
car_prediction = knn.predict([[21411, 11010, 40000]])
car_prediction[0]

11995

In [54]:
from sklearn.linear_model import LinearRegression
lin_reg=LinearRegression()
lin_reg.fit(x,y)

LinearRegression()

In [55]:
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

LinearRegression(n_jobs=1)

In [56]:
lin_reg.score(x,y)

0.7497263305346933

In [57]:
lin_reg.predict([[21411, 11010, 40000]])[0]

8467.601141765808

In [61]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import wordnet
import string

In [62]:
df.drop(columns=['model', 'zip','mileage'])

                                                    text  price
0      Used 2009 BMW 3 Series 328i Sedan RWD for sale...   7900
1      Used 2009 BMW 3 Series 328i Sedan RWD for sale...   7900
2      Used 2009 BMW 3 Series 328i Sedan RWD for sale...   7999
3      Used 2009 BMW 3 Series 328i Sedan RWD for sale...   7900
4      Used 2009 BMW 3 Series 328i Sedan RWD for sale...   7999
...                                                  ...    ...
42628  Used 2015 Subaru Forester 2.5i Limited for sal...  17999
42629  Used 2015 Subaru Forester 2.5i Limited for sal...  17999
42630  Used 2015 Subaru Forester 2.5i Premium for sal...  15900
42631  Used 2015 Subaru Forester 2.5i Premium for sal...  14398
42632  Used 2015 Subaru Forester 2.5i Touring for sal...  17587

[42633 rows x 2 columns]

In [63]:
stop = set(stopwords.words('english'))
punctuation = list(string.punctuation)
stop.update(punctuation)

In [64]:
def get_simple_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [65]:
lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stop:
            pos = pos_tag([i.strip()])
            word = lemmatizer.lemmatize(i.strip(),get_simple_pos(pos[0][1]))
            final_text.append(word.lower())
    return " ".join(final_text)

In [66]:
df.text = df.text.apply(lemmatize_words)

In [67]:
df.head()

,text,model,zip,price,mileage
0,"used 2009 bmw 3 series 328i sedan rwd sale $7,...",21411,10005,7900,88915
1,"used 2009 bmw 3 series 328i sedan rwd sale $7,...",21411,10003,7900,88915
2,"used 2009 bmw 3 series 328i sedan rwd sale $7,...",21411,10003,7999,88328
3,"used 2009 bmw 3 series 328i sedan rwd sale $7,...",21411,10002,7900,88915
4,"used 2009 bmw 3 series 328i sedan rwd sale $7,...",21411,10002,7999,88328

In [68]:
df.text

0        used 2009 bmw 3 series 328i sedan rwd sale $7,...
1        used 2009 bmw 3 series 328i sedan rwd sale $7,...
2        used 2009 bmw 3 series 328i sedan rwd sale $7,...
3        used 2009 bmw 3 series 328i sedan rwd sale $7,...
4        used 2009 bmw 3 series 328i sedan rwd sale $7,...
                               ...
42628    used 2015 subaru forester 2.5i limited sale $1...
42629    used 2015 subaru forester 2.5i limited sale $1...
42630    used 2015 subaru forester 2.5i premium sale $1...
42631    used 2015 subaru forester 2.5i premium sale $1...
42632    used 2015 subaru forester 2.5i touring sale $1...
Name: text, Length: 42633, dtype: object